<div>
    <h2>Browse Services</h2>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lifecycleStatus"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_by"><span data-translate="otscApp.service.created_by">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_date"><span data-translate="otscApp.service.created_date">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="template"><span>Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="externalId"><span>External Service ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in vm.services track by service.id">
                    <td>{{service.id}}</a></td>
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.lifecycleStatus}}</td>
                    <td>{{service.created_by}}</td>
                    <td>{{service.created_date | date:'mediumDate'}}</td>
                    <td>{{service.type}}</td>
                    <td>{{service.template}}</td>
                    <td>{{service.externalId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
